<div class="portfolio_page">
    <center><h1 class="portfolio-header">Portfolio</h1></center>
    <div class = "upper-portf-content">
        <div class = "pie-chart-container">
            <div class = "pie-chart-box">
                <center><h1 class="pie-chart-header">Holdings</h1></center>
                <div class = "pie-chart-element">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
        </div>
        <div class = "portfolio-content">
            <div class="portfotio-content-box">
                <h4 class="content-chart-header">Percentage Content</h4>
                <div class="tokens-percentages">
                    <div class="token-percentage">
                        <div class="token-color-square token-color-orange">

                        </div>
                        <div class="token-name">
                            <h5 class="token-name-header">Bitcoin</h5>
                        </div>
                        <div class="token-txt-percentage">
                            <h5 class="token-number-header">75%</h5>
                        </div>
                    </div>

                    <div class="token-percentage">
                        <div class="token-color-square token-color-gray">

                        </div>
                        <div class="token-name">
                            <h5 class="token-name-header">Ethereum</h5>
                        </div>
                        <div class="token-txt-percentage"> 
                            <h5 class="token-number-header">25%</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "lower-portf-content">
        <div class = "division-per-blockchain"></div>
    </div>
</div>

