
<div class="register-page">

    <section class="register-sec">
        <div class="register-form">
        <h1 class="reg-form-head h1_log">Register</h1>
            
        
        <form class="formfirst" action="https://jsonplaceholder.typicode.com/posts" method="POST">
        <div class="form-reg">
                
            
            <div class="form-reg1"> <div class="form-outline mb-2">
                    <input type="text" id="registe-name" class="form-control form-control-lg" required/>
                    <label class="form-label h1_log" for="registe-name">First Name</label>
                  </div>
      
                  <div class="form-outline mb-2">
                      <input type="text" id="last-name" class="form-control form-control-lg" required/>
                      <label class="form-label h1_log" for="last-name">Last Name</label>
                    </div>
      
                    <div class="form-outline mb-2">
                      <input type="text" id="address" class="form-control form-control-lg" required/>
                      <label class="form-label h1_log" for="address">Address 1</label>
                    </div>
      
                    <div class="form-outline mb-2">
                      <input type="text" id="address2" class="form-control form-control-lg" placeholder="Optional"/>
                      <label class="form-label h1_log" for="address2">Address 2</label>
                    </div>
      
      
                  <div class="form-outline mb-2">
                    <input type="email" id="register-email" class="form-control form-control-lg" required placeholder="john.smith@email.com"/>
                    <label class="form-label h1_log" for="register-email">Your Email</label>
                  </div>
                </div>
           
            <div class="form-reg2"><div class="form-outline mb-2">
                
                <input type="text" id="country" class="form-control form-control-lg" required/>
                <label class="form-label h1_log" for="country">Country</label>
              </div>

              <div class="form-outline mb-2">
                <input type="tel" id="number" class="form-control form-control-lg" required/>
                <label class="form-label h1_log" for="number">Phone Number</label>
              </div>

              <div class="form-outline mb-2">
                <input type="number" id="zip" class="form-control form-control-lg" required/>
                <label class="form-label h1_log" for="zip">Zip Code</label>
              </div>


            <div class="form-outline mb-2">
              <input type="password" id="register-pass" class="form-control form-control-lg" required/>
              <label class="form-label h1_log" for="register-pass">Password</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="register-pass-rep" class="form-control form-control-lg" required/>
              <label class="form-label h1_log" for="register-pass-rep">Repeat your password</label>
            </div>

         
        </div>
    </div>

        <div class="d-flex ">
            <button  type="submit" class="btn btn-light reg-but">Register</button>
          </div>

          </form>


          <!--Hidden for responsivness-->

          <form class="formsecond" action="https://jsonplaceholder.typicode.com/posts" method="POST">
            <div class="form-reg">
                    
                
                <div class="form-reg1"> <div class="form-outline ">
                        <input type="text" id="registe-name" class="form-control form-control-sm" required/>
                        <label class="form-label form-control-sm h1_log" for="registe-name">First Name</label>
                      </div>
          
                      <div class="form-outline ">
                          <input type="text" id="last-name" class="form-control form-control-sm" required/>
                          <label class="form-label form-control-sm h1_log" for="last-name">Last Name</label>
                        </div>
          
                        <div class="form-outline ">
                          <input type="text" id="address" class="form-control form-control-sm" required/>
                          <label class="form-label form-control-sm h1_log" for="address">Address 1</label>
                        </div>
          
                        <div class="form-outline">
                          <input type="text" id="address2" class="form-control form-control-sm" placeholder="Optional" />
                          <label class="form-label form-control-sm h1_log" for="address2">Address 2</label>
                        </div>
          
          
                      <div class="form-outline ">
                        <input type="email" id="register-email" class="form-control form-control-sm" required placeholder="john.smith@email.com"/>
                        <label class="form-label form-control-sm h1_log" for="register-email">Your Email</label>
                      </div>
                    </div>
               
                <div class="form-reg2"><div class="form-outline ">
                    <input type="text" id="country" class="form-control form-control-sm" required/>
                    <label class="form-label form-control-sm h1_log" for="country">Country</label>
                  </div>
    
                  <div class="form-outline ">
                    <input type="tel" id="number" class="form-control form-control-sm" required/>
                    <label class="form-label form-control-sm h1_log" for="number">Phone Number</label>
                  </div>
    
                  <div class="form-outline ">
                    <input type="number" id="zip" class="form-control form-control-sm" required/>
                    <label class="form-label form-control-sm h1_log" for="zip">Zip Code</label>
                  </div>
    
    
                <div class="form-outline ">
                  <input type="password" id="register-pass" class="form-control form-control-sm" required/>
                  <label class="form-label form-control-sm h1_log" for="register-pass">Password</label>
                </div>
    
                <div class="form-outline ">
                  <input type="password" id="register-pass-rep" class="form-control form-control-sm" required/>
                  <label class="form-label form-control-sm h1_log" for="register-pass-rep">Repeat your password</label>
                </div>
    
             
            </div>
        </div>
    
            <div class="d-flex ">
                <button  type="submit" class="btn btn-light reg-but">Register</button>
              </div>
    
              </form>
              


            
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </div>